<!--file: footer.html-->
<!--begin for footer-->
<div class="clr"></div>
<div id="footer">
    <div id="footer_service">
        <div class="fs_div">
            <dl class="fd_dl">
                <dt>
                    <b style="
    background: url('../view/front/images/complex1.png') no-repeat 0 -56px;"></b>
                    <strong>购物指南</strong>
                </dt>
                <dd><a href="#">售后流程</a></dd>
                <dd><a href="#">购物流程</a></dd>
                <dd><a href="#">会员注册</a></dd>
            </dl>
            <dl class="fd_dl">
                <dt>
                    <b style="
    background: url('../view/front/images/complex1.png') no-repeat -50px -56px;"></b>
                    <strong>配送与支付</strong>
                </dt>
                <dd><a href="#">支付方式说明</a></dd>
                <dd><a href="#">配送运费查询</a></dd>
                <dd><a href="#">配送时间说明</a></dd>
            </dl>
            <dl class="fd_dl">
                <dt>
                    <b style="
    background: url('../view/front/images/complex1.png') no-repeat 0 -104px;"></b>
                    <strong>服务保证</strong>
                </dt>
                <dd><a href="#">售后保修条款</a></dd>
                <dd><a href="#">产品质量保证</a></dd>
                <dd><a href="#">关于假一赔百</a></dd>
            </dl>
            <dl class="fd_dl">
                <dt>
                    <b style="
    background: url('../view/front/images/complex1.png') no-repeat -50px -104px;"></b>
                    <strong>用户中心</strong>
                </dt>
                <dd><a href="#">资金管理</a></dd>
                <dd><a href="#">我的收藏</a></dd>
                <dd><a href="#">我的订单</a></dd>
                <dd><a href="#">积分兑换</a></dd>
            </dl>
            <dl class="fd_dl">
                <dt>
                    <b style="
    background: url('../view/front/images/complex1.png') no-repeat 0 -149px;"></b>
                    <strong>特色服务</strong>
                </dt>
                <dd><a href="#">闪电送货</a></dd>
                <dd><a href="#">常见问题</a></dd>
                <dd><a href="#">售后服务</a></dd>
            </dl>
            <dl class="fd_dl">
                <dt>
                    <b style="
    background: url('../view/front/images/complex1.png') no-repeat -50px -56px;"></b>
                    <strong>覆盖地区</strong>
                </dt>
                <dd><a href="#">广州大学城</a></dd>
            </dl>
        </div>
    </div>
    <div id="footer_about">
        <div class="fa_div">
            <div class="fad_link">
                <div><a href="#">免费条款</a></div>
                <p>|</p>

                <div><a href="#">配送范围</a></div>
                <p>|</p>

                <div><a href="#">隐私保护</a></div>
                <p>|</p>

                <div><a href="#">咨询热点</a></div>
                <p>|</p>

                <div><a href="#">联系我们</a></div>
                <p>|</p>

                <div><a href="#">公司简介</a></div>
                <p>|</p>

                <div><a href="#">配送方式</a></div>
            </div>
            <div class="fad_contact">
                &copy;2014-2015 GDUT-hssh 版权所有
            </div>
        </div>
    </div>
</div> <!--end for footer-->
