<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>首页</title>
    <link rel="stylesheet" href="../view/front/css/reset.css"/>
    <script type="text/javascript" src="../view/front/js/jquery.js"></script>
    <script type="text/javascript" src="../view/front/js/tools.js"></script>
    <link rel="stylesheet" href="../view/front/css/top.css"/>
    <link rel="stylesheet" href="../view/front/css/header.css"/>
    <link rel="stylesheet" href="../view/front/css/footer.css"/>
    <script type="text/javascript" src="../view/front/js/top.js"></script>
    <script type="text/javascript" src="../view/front/js/header.js"></script>
    <script type="text/javascript" src="../view/front/js/footer.js"></script>

    <link rel="stylesheet" href="../view/front/css/index.css"/>
    <script type="text/javascript" src="../view/front/js/index.js"></script>
    <script type="text/javascript" src="../view/front/js/jquery.SuperSlide.2.1.1.js"></script>
    <script type="text/javascript">

    </script>
</head>
<body>
<!--引入顶部-->
<?php require(ROOT . 'view/front/top.html');?>

<div id="container">
    <!--引入头部-->
    <?php require(ROOT . 'view/front/header.html');?>
    <!--广告推荐-->
    <div id="message">
        <div id="ad">
            <div class="bd">
                <ul>
                    <li style="background:#F3E5D8;">
                        <div class="m-width">
                            <a href="javascript:void(0);"><img src="../view/front/images/img1.jpg" alt=""/></a>
                        </div>
                    </li>
                    <li style="background:#B01415">
                        <div class="m-width">
                            <a href="javascript:void(0);"><img src="../view/front/images/img2.jpg" alt=""/></a>
                        </div>
                    </li>
                    <li style="background:#C49803;">
                        <div class="m-width">
                            <a href="javascript:void(0);"><img src="../view/front/images/img3.jpg" alt=""/></a>
                        </div>
                    </li>
                    <li style="background:#FDFDF5">
                        <div class="m-width">
                            <a href="javascript:void(0);"><img src="../view/front/images/img4.jpg" alt=""/></a>
                        </div>
                    </li>

                </ul>
            </div>
            <div class="banner-btn">
                <a class="prev" href="javascript:void(0);"></a>
                <a class="next" href="javascript:void(0);"></a>

                <div class="hd">
                    <ul></ul>
                </div>
            </div>
        </div>
    </div>
    <!--楼层开始-->
    <?php foreach($alllist as $v) {?>
    <div id="floor">
        <div class="floor_plist">
            <div class="fp_title">
                <b></b>
                <span><?php echo $v['cate_name']; ?></span>
            </div>
            <div class="fp_body">
                <ul class="fp_subtitle">
                    <?php foreach($v['child'] as $vc) {?>
                    <li><a href="cate.php?cate_id=<?php echo $vc['cate_id']?>"><?php echo $vc['cate_name']?></a></li>
                    <?php }?>
                </ul>
                <p class="fp_img"></p>
            </div>
        </div>
        <div class="floor_detail">
            <div class="fd_title">
                <ul>
                    <?php foreach($v['child'] as $kc=>$vc) { if($kc>4) break; ?>
                    <li><a href="cate.php?cate_id=<?php echo $vc['cate_id']?>"><?php echo $vc['cate_name']?></a></li>
                    <?php }?>
                </ul>
            </div>
            <?php foreach($v['child'] as $kc=>$vc) {if ($kc>4) break; ?>
            <div class="fd_detail">
                <?php foreach($vc['child'] as $kcc=>$vcc) {if($kcc>4) break; ?>
                <div class="fd_detail_div">
                    <img src="<?php echo '/' . strstr($vcc['goods_img'], 'bianli');?>" class="fdd_img" alt=""/>

                    <p class="fdd_desc"><a href="goods.php?goods_id=<?php echo $vcc['goods_id'];?>"><?php echo $vcc['goods_name'];?></a></p>

                    <p class="fdd_price">￥<?php echo $vcc['goods_price'];?></p>
                </div>
                <?php }?>
            </div>
            <?php }?>
        </div>
    </div>
    <?php }?>
    <!--楼层结束-->

    <!--引入尾部-->
    <?php require(ROOT . 'view/front/footer.html');?>

</div>
<!--end for container-->
</body>
</html>