<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>订单信息填写</title>
    <link rel="stylesheet" href="../view/front/css/reset.css"/>
    <script type="text/javascript" src="../view/front/js/jquery.js"></script>
    <script type="text/javascript" src="../view/front/js/tools.js"></script>
    <link rel="stylesheet" href="../view/front/css/top.css"/>
    <!--<link rel="stylesheet" href="../view/front/css/header.css"/>-->
    <link rel="stylesheet" href="../view/front/css/footer.css"/>
    <script type="text/javascript" src="../view/front/js/top.js"></script>
    <!--<script type="text/javascript" src="../view/front/js/header.js"></script>-->
    <script type="text/javascript" src="../view/front/js/footer.js"></script>

    <link rel="stylesheet" href="../view/front/css/flow_order_pay.css"/>
    <link rel="stylesheet" href="../view/front/css/order.css"/>
    <script type="text/javascript" src="../view/front/js/order.js"></script>

</head>
<body>
<!--引入顶部-->
<?php require(ROOT . 'view/front/top.html');?>

<div id="container">

    <div id="fop_header">
        <div id="fh_logo">
            <a href="index.php"><img src="../view/front/images/logo.png" alt=""/></a>
            <ul>
                <li>我的购物车&nbsp;&lt;&lt;&nbsp;</li>
                <li><span id="ls_selected">填写核对订单信息</span>&nbsp;&lt;&lt;&nbsp;</li>
                <li>成功提交订单</li>
            </ul>
        </div>
        <div class="clr"></div>
    </div>

    <div id="order_msg">
    <table width="100%" cellspacing="1" cellpadding="5" border="0"  align="center">

        <tr>
            <th colspan="4">订单信息填写</th>
        </tr>
        <tr>
            <td bgcolor="#ffffff" width="10%">收货人姓名:</td>
            <td bgcolor="#ffffff"><input type="text" value="" id="id_name" class="inputBg" name="reciver"/><span></span>
            </td>
            <td bgcolor="#ffffff" width="10%">配送区域:</td>
            <td bgcolor="#ffffff" colspan="3">
                <input type="text" name="zone" id="id_zone"/><span></span>
            </td>
        </tr>

        <tr>
            <td bgcolor="#ffffff">详细地址:</td>
            <td bgcolor="#ffffff"><input type="text" value="" id="id_address" class="inputBg" name="address"/><span></span>
            </td>
            <td bgcolor="#ffffff">邮政编码:</td>
            <td bgcolor="#ffffff"><input type="text" value="" id="id_zipcode" class="inputBg" name="zipcode"/><span></span></td>
        </tr>
        <tr>
            <td bgcolor="#ffffff">电话:</td>
            <td bgcolor="#ffffff"><input type="text" value="" id="id_tel" class="inputBg" name="tel"/><span></span>
            </td>
            <td colspan="2">
                <input type="radio" name="pay_type" value="0" checked/>在线支付<br />
                <input type="radio" name="pay_type" value="1"/>货到付款
            </td>
        </tr>

    </table>
    </div>

    <div id="flow_msg">
        <table class="fm_first">
            <tr>
                <th width="50px">商品名称</th>
                <th>本店价</th>
                <th>购买数量</th>
                <th>小计</th>
            </tr>
            <?php foreach($shopping_cart as $k=>$v) {?>
            <tr class="flm_item">
                <td>
                    <div class="flmi_div">
                        <img src="<?php echo '/' . strchr($v['goods_img'], 'bianli');?>" alt=""/>
                        <a href="goods.php?goods_id=<?php echo $k; ?>"><?php echo $v['goods_name']?></a>
                    </div>
                </td>
                <td><strong>￥<?php echo $v['goods_price'];?></strong></td>
                <td><strong><?php echo $v['num'];?></strong></td>
                <td ><strong class="sub_total">￥<?php echo $v['num']*$v['goods_price'];?></strong></td>
            </tr>
            <?php }?>

        </table>


        <div id="action_div">
            <p id="total_p"><span>总计(不含运费)&nbsp;:</span>&nbsp;&nbsp;<strong class="total">￥<?php echo $cart->getTotalPrice();?></strong></p>
            <button id="confirm">确认订单</button>
        </div>
        <a href="flow.php"><button id="returnshop">返回购物车</button></a>
    </div>

    <!--引入尾部-->
    <?php require(ROOT . 'view/front/footer.html');?>

</div>
<!--end for container-->
</body>
</html>