<!-- $Id: goods_info.htm 17126 2010-04-23 10:30:26Z liuhui $ -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>便利店 商品管理中心 - 编辑商品 </title>
    <meta name="robots" content="noindex, nofollow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href="../view/admin/styles/general.css" rel="stylesheet" type="text/css"/>
    <link href="../view/admin/styles/main.css" rel="stylesheet" type="text/css"/>

    <script type="text/javascript" src="../view/admin/js/jquery.js"></script>
    <script type="text/javascript" src="../view/admin/js/goodsedit.js"></script>

    <script type="text/javascript" src="../extension/keditor/kindeditor.js"></script>
    <script type="text/javascript" src="../extension/keditor/lang/zh_CN.js"></script>

    <script type="text/javascript">
        function charea(a) {
            var spans = ['general', 'detail', 'mix'];
            for (i = 0; i < 3; i++) {
                var o = document.getElementById(spans[i] + '-tab');
                var tb = document.getElementById(spans[i] + '-table');
                o.className = o.id == a + '-tab' ? 'tab-front' : 'tab-back';
                tb.style.display = tb.id == a + '-table' ? 'block' : 'none';
            }

        }

        KindEditor.ready(function(K) {
            window.editor = K.create('#editor_id',{
                width: '1000px',
                height: '600px'
            });
        });
    </script>
</head>
<body>

<h1>
    <span class="action-span"><a href="goodslist.php">商品列表</a></span>
    <span class="action-span1"><a href="index.php?act=main">便利店 商品管理中心</a> </span><span id="search_id"
                                                                                        class="action-span1"> - 编辑商品 </span>

    <div style="clear:both"></div>
</h1>

<!-- start goods form -->
<div class="tab-div">
    <!-- tab bar -->
    <div id="tabbar-div">
        <p>
            <span class="tab-front" id="general-tab" onclick="charea('general');">通用信息</span>
            <span class="tab-back" id="detail-tab" onclick="charea('detail');">详细描述</span>
            <span class="tab-back" id="mix-tab" onclick="charea('mix');">其他信息</span>
        </p>
    </div>

    <!-- tab body -->
    <div id="tabbody-div">
        <!-- 通用信息 -->
        <table width="90%" id="general-table" align="center">
            <tr>
                <td class="label">商品名称：</td>
                <td><input type="text" name="goods_name" value="<?php echo $gi['goods_name']?>" style="float:left;" size="30"/><span id="gn_tips"
                                                                                                       style="color:#c0c0c0;">必填</span>
                </td>
            </tr>
            <tr>
                <td class="label">
                    <a href="#" title="点击此处查看提示信息"><img src="../view/admin/images/notice.gif" width="16" height="16"
                                                        border="0" alt="点击此处查看提示信息"></a> 商品货号：
                </td>
                <td><input type="text" name="goods_sn" value="<?php echo $gi['goods_sn']?>" size="20"/><span id="goods_sn_notice"></span><br/>
                        <span class="notice-span" style="display:block"
                              id="noticeGoodsSN">如果您不输入商品货号，系统将自动生成一个唯一的货号。</span></td>
            </tr>
            <tr>
                <td class="label">商品分类：</td>
                <td><select name="cate_id">
                    <?php foreach($catelist as $v) {?>
                    <option value="<?php echo $v['cate_id'];?>" <?php echo $v['cate_id']==$gi['cate_id']?'selected=\'selected\'':''; ?>><?php echo str_repeat('&nbsp&nbsp;',$v['lev']) . $v['cate_name'];?></option>
                    <?php } ?>
                </select>
                </td>
            </tr>
            <tr>
                <td class="label">本店售价：</td>
                <td><input type="text" name="shop_price" value="<?php echo $gi['goods_price']?>" size="20"/><span style="color:#c0c0c0;">必填</span>
                </td>
            </tr>

            <tr>
                <form enctype="multipart/form-data" action="uploadimg.php" method="post"  id="uploadimg">
                    <!-- 最大文件限制 -->
                    <input type="hidden" name="MAX_FILE_SIZE" value="2097152"/>
                    <td class="label">上传商品图片：</td>
                    <td>
                        <input type="file" name="goods_img" size="35"/><span id="goods_img_tips" style="color:#c0c0c0">'jpg', 'jpeg', 'gif', 'bmp', 'png'</span>
                        <span style="visibility: hidden;" id="img_name"><?php echo $gi['goods_img']?></span>
                        <input type="submit" id="uploadimgbtn" value="上传"/>
                        <span id="uploadimgtips"></span>
                    </td>
                </form>
            </tr>
        </table>

        <!-- 详细描述 -->
        <table width="90%" id="detail-table" style="display:none">
            <tr>
                <td><textarea name="goods_details" id="editor_id"><?php echo $gi['goods_details']?></textarea></td>
            </tr>
        </table>

        <!-- 其他信息 -->
        <table width="90%" id="mix-table" style="display:none" align="center">
            <tr>
                <td class="label">商品重量：</td>
                <td><input type="text" name="goods_weight" value="<?php echo $gi['goods_weight']?>" size="20"/><span
                        id="goods_weight_tips">选填</span> <select name="weight_unit">
                    <option value="1" selected>千克</option>
                    <option value="0.001">克</option>
                </select></td>
            </tr>
            <tr>
                <td class="label"><a href="#" title="点击此处查看提示信息"><img src="../view/admin/images/notice.gif"
                                                                      width="16" height="16" border="0"
                                                                      alt="点击此处查看提示信息"></a> 商品库存数量：
                </td>

                <td><input type="text" name="goods_number" value="<?php echo $gi['goods_total']?>" size="20"/><span style="color:#c0c0c0;" id="goods_num_tips">选填</span></td>
            </tr>
            <tr>
                <td class="label">加入推荐：</td>
                <td>
                    <input type="checkbox" name="is_best" value="1" <?php echo $gi['is_best']?'checked=\'cheched\'':''; ?> />精品
                    <input type="checkbox" name="is_new" value="1" <?php echo $gi['is_new']?'checked=\'cheched\'':''; ?> />新品
                    <input type="checkbox" name="is_hot" value="1" <?php echo $gi['is_hot']?'checked=\'cheched\'':''; ?> />热销
                </td>
            </tr>
            <tr id="alone_sale_1">
                <td class="label" id="alone_sale_2">上架：</td>
                <td id="alone_sale_3"><input type="checkbox" name="is_on_sale" value="1" <?php echo $gi['on_sale']?'checked=\'cheched\'':''; ?>/>
                    打勾表示允许销售，否则不允许销售。
                </td>
            </tr>
            <tr>
                <td class="label">商品关键词：</td>
                <td><input type="text" name="goods_key" value="<?php echo $gi['goods_key']?>" size="40"/> 用空格分隔</td>
            </tr>
            <tr>
                <td class="label">商品简单描述：</td>
                <td><textarea name="goods_desc" cols="40" rows="3"><?php echo $gi['goods_desc']?></textarea></td>
            </tr>
            <tr>
                <td class="label">
                    <a href="#" title="点击此处查看提示信息"><img src="../view/admin/images/notice.gif" width="16" height="16"
                                                        border="0" alt="点击此处查看提示信息"></a> 商家备注：
                </td>
                <td><textarea name="seller_note" cols="40" rows="3"><?php echo $gi['seller_note']?></textarea><br/>
                    <span class="notice-span" style="display:block" id="noticeSellerNote">仅供商家自己看的信息</span></td>
            </tr>
        </table>


        <div class="button-div">
            <input type="hidden" name="goods_id" value="0"/>
            <input type="button" value=" 确定 " id="sureadd" class="button"/>
            <input type="reset" value=" 重置 " class="button"/>
            <span style="visibility: hidden" id="goods_id"><?php echo $goods_id; ?></span>
        </div>
        <input type="hidden" name="act" value="insert"/>

    </div>
</div>
<!-- end goods form -->

</body>
</html>