<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>便利店 后台登录</title>
    <meta name="robots" content="noindex, nofollow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href="../view/admin/styles/general.css" rel="stylesheet" type="text/css"/>
    <link href="../view/admin/styles/main.css" rel="stylesheet" type="text/css"/>

    <script type="text/javascript" src="../view/admin/js/jquery.js"></script>
    <script type="text/javascript" src="../view/admin/js/md5.js"></script>

    <script>
        $(function () {
            $("#verify").click(function () {
                this.src = "../tools/verifycode.php?num=" + Math.random();
            });

            $('input[type=submit]').attr('disabled', true);
            var unameOk = 0, pwdOk = 0;

            function chk() {
                if(unameOk==1 && pwdOk==1) {
                    $('input[type=submit]').attr('disabled', false);
                }
                else {
                    $('input[type=submit]').attr('disabled', true);
                }
            }
            $('input[name=username]').keyup(function () {
                var val = $(this).val();
                if(val == '') {
                    $(this).parent().find('span').html("<font color='red'>不能为空</font>");
                    unameOk=0;
                }
                else {
                    $(this).parent().find('span').html("<font color='green'>验证通过</font>");
                    unameOk=1;
                }
                chk();
            });
            $('input[name=username]').trigger('keyup').focus();

            $('input[name=password]').keyup(function () {
                var val = $(this).val();
                if(val == '') {
                    $(this).parent().find('span').html("<font color='red'>不能为空</font>");
                    pwdOk=0;
                }
                else {
                    $(this).parent().find('span').html("<font color='green'>验证通过</font>");
                    pwdOk=1;
                }
                chk();
            });

            $('input[type=submit]').click(function () {
                // 判断验证码
                var verify = $('input[name=verify]').val();
                $.get("../tools/verifycodechk.php", "verify="+verify, function(res) {
                    if(res == '1') {
                        // 验证码不正确
                        alert('验证码不正确')
                        $('input[name=verify]').val("").focus();
                    }
                    else if(res == '0') {
                        // 验证码正确
                        var username = $('input[name=username]').val().trim();
                        var password = hex_md5($('input[name=password]').val().trim());

                        $.post('loginhandle.php', {"username":username, "password":password},function (res) {
                            if(res == 0) {
                               // 用户密码不正确
                               alert('用户名或密码错误');
                            }
                            else if(res == 1) {
                                // 正确
                                location.href = 'index.php';
                            }
                        });
                    }
                });
            });


        });

    </script>
</head>
<body>
<div id="login_div">

    <!--<form action="loginhandle.php" method="post">-->
        <table>
            <tr>
                <th colspan="3" style="text-align: left;">后台登录：</th>
            </tr>
            <tr>
                <td>用户名</td>
                <td colspan="2"><input type="text" name="username"/><span></span></td>
            </tr>
            <tr>
                <td>密码</td>
                <td colspan="2"><input type="password" name="password"/><span></span></td>
            </tr>
            <tr>
                <td>验证码</td>
                <td><input type="text" name="verify" style="width: 50px;"/></td>
                <td><img src="../tools/verifycode.php" alt="" id="verify"/></td>
            </tr>
            <tr>
                <td colspan="3" style="text-align: center"><input value="登录" type="submit"/></td>
            </tr>
        </table>

    <!--</form>-->
</div>

</body>
</html>

